<div id="header">
  <div id="inner-header">
    <div class="wrapper-l">
      <div class="row-fluid">
        <span class="span2">
          <%= link_to root_url do %>
            PoExplorer <span class="beta">/ beta</span>
          <% end %>
        </span>

        <span class="span4">

          <ul class="clearfix main-menu">
            <li class="tn-search">
              <%= link_to "Find items", new_search_path %>
            </li>
            <li class="dropdown menu-right">
              <%= link_to "#",
                    class: "dropdown-toggle",
                    data: { toggle: "dropdown" } do %>
                Tools <i class="fa fa-caret-down"></i>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to "PoExchange", "http://poexchange.info" %></li>
                <li class="separator"></li>
                <li><%= link_to "Path of PoE", "http://pathofpoe.com" %></li>
                <li><%= link_to "RNG Hell", "http://www.rnghell.com" %></li>
              </ul>
            </li>
            <% if false %>
              <li class="tn-builds">
                <%= link_to "Builds", builds_path %>
              </li>
            <% end %>

          </ul>
        </span>

        <span class="span6">
          <%= render "layouts/layout/header/user" %>
        </span>

      </div>
    </div>


  </div>
</div>
