<div id="header">
  <div class="inner-header">
    <div class="wrapper-l">
      <div class="row-fluid">
        <span class="span2">
          <%= link_to root_url do %>
            PoExplorer <span class="beta">/ beta</span>
          <% end %>
        </span>

        <span class="span4 hidden-phone">

          <ul class="clearfix main-menu">
            <li class="tn-search">
              <%= link_to "Find items", new_search_path %>
            </li>
            <li class="tn-exiles">
              <%= link_to "Exiles", exiles_path %>
            </li>
            <% if false %>
              <li class="tn-builds">
                <%= link_to "Builds", builds_path %>
              </li>
            <% end %>

          </ul>
        </span>

        <span class="phone-menu visible-phone">
          <ul>
            <li class="dropdown menu-right">

              <%= link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
                <i class="fa fa-align-justify"></i>
              <% end %>

              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Find items", new_search_path %>
                </li>
                <li>
                  <%= link_to "Exiles", exiles_path %>
                </li>
                <% if user_signed_in? %>
                  <li class="separator"></li>
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "Sign in", new_user_session_path %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </span>

        <span class="span6 hidden-phone">
          <%= render "layouts/layout/header/user" %>
        </span>

      </div>
    </div>


  </div>
</div>
