<ul class="right-menu">

  <% if user_signed_in? %>

    <li class="dropdown menu-right">
      <%= link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
        <i class="fa fa-align-justify"></i>
        <%= current_user.login %>
      <% end %>
      <ul class="dropdown-menu">
        <% if current_user.admin? %>
          <li><%= link_to "Admin", admin_root_path %></li>
        <% end %>
        <li><%= link_to "Profile", current_user %></li>

        <% if false %>
        <li><%= link_to "Shopping cart", shopping_cart_path %></li>
        <% end %>

        <li class="separator"></li>
        <li><%= link_to "Edit my profile", edit_user_registration_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>

  <% else %>
    <li class="tn-signin"><%= link_to "Sign in", new_user_registration_path %></li>

    <li class="social facebook">
      <%= link_to my_provider_path(:facebook) do %>
        <i class="fa fa-facebook"></i>
      <% end %>
    </li>
    <li class="social twitter">
      <%= link_to my_provider_path(:twitter) do %>
        <i class="fa fa-twitter"></i>
      <% end %>
    </li>
  <% end %>

  <li class="tn-help sep">
    <%= link_to "Help", faq_path %>
  </li>

</ul>
