<div class="span4 exile">
  <%= link_to exile_path(exile) do %>
    <div class="cover" style="background-image: url(<%= exile.cover(:l) %>)">
      <h3>
        <span>10 <i class="fa fa-heart"></i></span>
        <%= exile.name %>
      </h3>
    </div>
  <% end %>

  <% if exile.tagline.present? %>
    <section class="tagline">
      <p><%= exile.tagline %></p>
    </section>
  <% end %>

  <section>
    <%= exile.klass_name %>
  </section>

  <footer>
    by <%= exile.user_login %>
  </footer>
</div>
