<div class="span4 exile" data-vote="base">
  <%= link_to exile_path(exile) do %>
    <div class="cover">
      <div class="faded-background" style="background-image: url(<%= exile.large_cover %>)">
        <div class="overlay"></div>
      </div>
      <h3>
        <span><b data-vote-count><%= exile.up_votes %></b> <i class="fa fa-caret-up"></i></span>
        <%= exile.name %>
      </h3>
    </div>
  <% end %>

  <% if exile.tagline.present? %>
    <section class="tagline">
      <p><%= exile.tagline %></p>
    </section>
  <% end %>

  <section>
    <%= exile.klass_name %>
  </section>

  <footer>
    <div class="right">by <%= exile.user_login %></div>

    <%= content_tag :span, data: {
          vote: user_signed_in? ? "button" : "visitor",
          url: user_signed_in? ? vote_up_exile_path(exile) : new_user_registration_path
        } do %>
          <i class="fa fa-caret-up"></i> Upvote!
    <% end %>
  </footer>
</div>
