<% content_for :cover do %>
<div id="cover">

  <% if @exile.cover.present? %>
    <div class="faded-background" style="background-image: url(<%= @exile.cover %>)">
      <div class="overlay"></div>
    </div>
  <% end %>

  <div class="wrapper-l">
    <div class="row-fluid">
      <div class="span12">
        <div id="intro">
          <h1><%= @exile.name %></h1>
          <% if @exile.tagline.present? %>
          <p><%= @exile.tagline %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="stats" class="white bordered-section">
  <div class="wrapper-l">
    <div class="row-fluid">
      <div class="span12" data-vote="base">

        <%= link_to vote_up_exile_path(@exile),
              data: { vote: "button" },
              class: 'border-button stat' do %>
          <span class="value">
            <span data-vote-count><%= @exile.up_votes %></span>
            <i class="fa fa-caret-up"></i>
          </span>
        <% end %>

        <div class="stat">
          <span class="value"><%= @exile.photos.try(:count).to_i %></span>
          <span class="side-label">
            <span>screenshots</span>
          </span>
        </div>

        <div class="stat">
          <span class="value"><%= @exile.uniques.count %></span>
          <span class="side-label">
            <span>Unique</span>
            <span>items</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>

<% if @exile.description.present? %>
<div class="row-fluid bordered-section">
  <div class="span2">
    <h2>Description</h2>
  </div>
  <div class="span10 description">
    <%= to_html @exile.description %>
  </div>
</div>
<% end %>

<% if @exile.any_photos? %>
  <div class="bordered-section clearfix">
    <div class="span2">
      <h2>Screenshots</h2>
      <p class="small">
        <%= link_to "Imgur album", "http://imgur.com/a/#{@exile.album_uid}", target: "_blank" %>
      </p>
    </div>
    <div class="span10">
      <% @exile.photos.each do |photo| %>
        <%= link_to photo, class: "left thumbnail photo" do %>
          <div class="box-content"><%= image_tag @exile.resized_photo(photo, :b) %></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


<% if @exile.uniques.any? || @exile.gear.any? %>
<div class="row-fluid section">
  <div class="span2">
    <h2>Gear</h2>
  </div>
  <div class="span10">
    <% @exile.uniques.each_slice(4) do |uniques| %>
      <div class="row-fluid">
        <% uniques.each do |unique| %>
          <%= link_to "http://pathofexile.gamepedia.com/#{unique.name}",
                target: "_blank",
                class: "span3 thumbnail exile" do %>
              <div class="box-content">
                <h5><%= unique.name %></h5>
                <p class="text faded"><%= unique.base_name %></p>
                <%= image_tag unique.image_url %>
              </div>
          <% end %>
        <% end %>
      </div>
    <% end if @exile.uniques.any? %>

    <% if @exile.gear.any? %>
      <div class="row-fluid">
        <% @exile.gear.each do |gear| %>
        <div class="span3 thumbnail exile">
          <div class="box-content">
            <h5><%= link_to gear[:name], "http://pathofexile.gamepedia.com/#{gear[:name]}" %></h5>
            <p class="text faded"><%= gear[:type] %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<% javascript "jquery.colorbox" %>
<% stylesheet "colorbox" %>

<% content_for :dom_ready do %>
  App.Vote.setup();
  $(".photo").colorbox({ rel: "g1" })
<% end %>
