<div data-model="base" data-id="<%= @exile.id %>">

<% content_for :side_cover do %>

  <div id="intro">
    <p>By <%= @exile.user_login %></p>
  </div>

<% end %>

<div class="large-section bordered-section">
<h1>
  <%= @exile.name %>
</h1>

<% if @exile.tagline.present? %>
  <p class="tagline"><%= @exile.tagline %></p>
<% end %>
</div>

<% if @exile.any_photos? %>
  <div class="large-section bordered-section clearfix">
    <% @exile.photos.each do |photo| %>
      <%= link_to photo, class: "left thumbnail photo" do %>
        <div class="box-content"><%= image_tag @exile.resized_photo(photo, :b) %></div>
      <% end %>
    <% end %>

    <%= link_to "Imgur album", "http://imgur.com/a/#{@exile.album_uid}", target: "_blank" %>
  </div>
<% end %>

<% content_for :cover do %>
<div id="cover">

  <% if @exile.cover.present? %>
    <div class="faded-background" style="background-image: url(<%= @exile.cover %>)">
      <div class="overlay"></div>
    </div>
  <% end %>

  <div class="wrapper-l">
    <div class="row-fluid">
      <div class="span12">
        <div id="user-actions">
          <%= link_to new_exile_path, class: "border-button" do %>
            <i class="fa fa-plus"></i> new<% end %>
          <% if can?(:update, @exile) %>
            <%= link_to edit_exile_path(@exile), class: "border-button" do %>
              <i class="fa fa-magic"></i> Edit
            <% end %>
          <% end %>
        </div>

        <div id="intro" data-vote="base">
          <div class="span2">
            <%= content_tag :div,
              data: {
                url: user_signed_in? ? vote_up_exile_path(@exile) : new_user_registration_path,
                vote: "button",
                login: !user_signed_in?
              },
              class: 'border-button stat' do %>
              <span class="value">
                <span data-vote-count><%= @exile.up_votes %></span>
                <i class="fa fa-caret-up"></i>
              </span>
            <% end %>
          </div>

          <div class="span10">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="stats" class="white bordered-section">
  <div class="wrapper-l">
    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span10">

        <div class="stat author">
          <span class="">By</span> <b><%= @exile.user_login %></b><br>
          <time class="small faded" datetime="<%= @exile.created_at.iso8601 %>"></time>
        </div>

        <div class="stat">
          <span class="value"><%= @exile.photos.try(:count).to_i %></span>
          <span class="side-label">
            <span>screenshots</span>
          </span>
        </div>

        <div class="stat">
          <span class="value"><%= @exile.uniques.count %></span>
          <span class="side-label">
            <span>Unique</span>
            <span>items</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>

<% if @exile.description.present? %>
<div class="large-section bordered-section description text row-fluid">
  <%= to_html @exile.description %>
</div>
<% end %>




<% if @exile.uniques.any? || @exile.gear.any? %>
<div class="row-fluid section">

  <h2>Gear</h2>

  <% @exile.uniques.each_slice(4) do |uniques| %>
    <div class="row-fluid">
      <% uniques.each do |unique| %>
        <%= link_to "http://pathofexile.gamepedia.com/#{unique.name}",
              target: "_blank",
              class: "span3 thumbnail exile" do %>
            <div class="box-content">
              <h5><%= unique.name %></h5>
              <p class="text faded"><%= unique.base_name %></p>
              <%= image_tag unique.image_url %>
            </div>
        <% end %>
      <% end %>
    </div>
  <% end if @exile.uniques.any? %>

  <% if @exile.gear.any? %>
    <% @exile.gear.each_slice(4) do |gears| %>
      <div class="row-fluid">
        <% gears.each do |gear| %>
          <div class="span3 thumbnail exile">
            <div class="box-content">
              <h5>
                <%= link_to gear[:name],
                      "http://pathofexile.gamepedia.com/#{gear[:name]}",
                      target: "_blank" %>
              </h5>
              <p class="text faded"><%= gear[:type] %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>

</div>

<% javascript "jquery.colorbox" %>
<% stylesheet "colorbox" %>

<% content_for :dom_ready do %>
  App.Vote.setup();
  $(".photo").colorbox({ rel: "g1" })
<% end %>
