<%= render "authentications/small_services" %>

<%= render "devise/shared/nav" %>

<p class="text faded">Welcome to PoExplorer, a Path of Exile search engine!</p>

<%= simple_form_for(
      resource,
      as: resource_name,
      url: registration_path(resource_name),
      html: { class: "horizontal" }
    ) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= render "devise/shared/user_form", f: f %>

  <% if resource.password_required? %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
  <% end %>
</div>

<%= f.button :submit, "Sign up", class: "btn btn-success" %>

<% end %>

<%= render "devise/shared/links" %>
