<% form = GearAndGemsFormDecorator.new(f) %>

<div class="bordered-section">
  <%= form.gearing_advice %>
</div>

<div class="bordered-section">
  <h3>Add recommended gear and gems</h3>
  <div id="gears">
    <%= f.fields_for :gears do |g| %>
      <%= render "gears/fields", f: g %>
    <% end %>
  </div>

  <div class="links">
      <%= link_to_add_association "<i class='fa fa-plus fa fa-white'></i> Add a piece of gear".html_safe, f, :gears,
            data: {
              association_insertion_node: "#gears",
              association_insertion_method: "append"
            },
            partial: "gears/fields",
            class: "btn btn-info"
          %>
    </div>

</div>

<div class="bordered-section">
  <%= form.uniques %>
</div>
