<%= page_title("Shops") %>

<% hide_nav ||= false %>
<% sidebar ||= nil %>
<% locals ||= {} %>

<% content_for :left_sidebar do %>
  <h1><%= link_to "Shops", shops_path %></h1>

  <% if sidebar %>
    <%= render partial: sidebar, locals: locals %>
  <% end %>
  <div class="text">
    <p class="faded">Create shops to make sure your items appear in the search.</p>

    <p><%= link_to "Create a shop", new_shop_path, class: "btn btn-success" %></p>

    <p><%= link_to "Report bugs", feedback_path %></p>
  </div>

<% end %>

<%= render "shops/nav" unless hide_nav %>

<%= yield %>
