<div class="scrawl">
  <h3>Scrawl <%= scrawl.id %></h3>
  <p>Successful: <%= scrawl.successful %></p>
  <p>Thread count: <%= scrawl.thread_count %></p>
  <p>Item count: <%= scrawl.item_count %></p>
  <p>Created at: <%= scrawl.created_at %></p>
  <p>Updated at: <%= scrawl.updated_at %></p>
</div>
