<%= page_title("Similar Search") %>

<%= render "searches/search_sub_header" %>

<%= simple_form_for :similar_search, { url: similar_searches_path } do |f| %>
  <div class="controls-row">
  <%= f.label :league_id, "League" %>
  <%= f.input :league_id,
      label: false,
      collection: simple_options_for_select(
        League,
        text: ->(name) { return nil unless League.visible?(name); name.capitalize + " league" }
      ),
      selected: current_league_id,
      input_html: { class: "span12 search_league" }
  %>
  </div>
  <%= f.input :text_representation, as: :text,
        label_html: { style: "margin-top: 20px" },
        label: "Text representation you get when copying an item in-game",
        input_html: { class: "span12", style: "height: 400px" } %>
  <%= f.button :submit, "Find similar items", class: "btn-success" %>
<% end %>

<% content_for :left_sidebar do %>
  <p class="text">
    In Path of Exile, when hovering over an item, pressing <code>Ctrl+C</code>
    will copy a text representation of the item in your clipboard. Paste it
    in the textarea, and PoExplorer will find similar items for you.
  </p>

  <p class="small text bordered-section">
    The most obvious use of this features is finding upgrades,
    since you can look for similar items with better stats.
    <br><br>
    It can also help you estimate the price of an item.
  </p>

  <p class="small text">
    This feature is in beta, don't hesitate to
    <%= link_to "report bugs, propose improvements, or ask questions", feedback_path %>.
  </p>
<% end %>

<% content_for :dom_ready do %>
  $("form select").select2();
<% end %>
