<%= page_title("#{@search.archetype_name} Search") %>

<%= render "searches/search_sub_header" %>

<%= render "searches/form" %>

<div class="alert alert-info">
  <p>
  Need your help to improve this feature!
  <%= link_to "Report any bug, and suggest improvements here", feedback_path %>.
  </p>
</div>

<%= render "searches/results_and_facets", no_facet_link: true %>

<% content_for :dom_ready do %>
  App.NumberFormatter.setup();
  App.SimilarMods.setup()
<% end %>

<% content_for :left_sidebar do %>
  <p class="text faded"><%= @searchable.explanation %></p>
<% end %>
