<% is_new = @build.new_record? %>
<% title = "#{is_new ? "Submit a" : "Edit your"} build" %>

<%= render "builds/builds_sub_header" %>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#tab-basics" data-target=".basics-pane">Basics</a>
  </li>
  <li>
    <a href="#tab-playstyle" data-target=".playstyle-pane">Playstyle</a>
  </li>
  <li><a href="#tab-gems" data-target=".gems-pane">Gear and Gems</a></li>
  <li><a href="#tab-skill-tree" data-target=".skill-tree-pane">Passive Skill Tree</a></li>
  <li><a href="#tab-bandits" data-target=".bandits-pane">Bandits</a></li>
</ul>

<%= simple_form_for @build, html: { id: "build-form" } do |sf| %>
  <% form = BuildFormDecorator.new(sf) %>

  <div class="tab-content">
    <div class="tab-pane active basics-pane" id="tab-basics">
      <%= render 'builds/form_sections/basics', f: sf %>
    </div>
    <div class="tab-pane playstyle-pane" id="tab-playstyle">
      <%= render 'builds/form_sections/playstyle', f: sf %>
    </div>
    <div class="tab-pane gems-pane" id="tab-gems">
      <%= render 'builds/form_sections/gear_and_gems', f: sf %>
    </div>
    <div class="tab-pane skill-tree-pane" id="tab-skill-tree">
      <%= render "builds/form_sections/skill_tree", f: sf %>
    </div>
    <div class="tab-pane bandits-pane" id="tab-bandits">
      <%= render "builds/form_sections/bandits", f: sf %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.save_button %>
    <% unless @build.published? %>
      <%= form.button :submit, "Save as draft", class: "", id: "save-as-draft" %>
    <% end %>
  </div>
<% end %>

<% content_for :left_sidebar do %>
  <h1><%= title %></h1>

  <div class="tab-content">
    <div class="tab-pane active basics-pane">
      <p class="faded">Overall description of your build.<br>Be as detailed as possible!</p>
    </div>

    <div class="tab-pane playstyle-pane">
      <p class="faded">Various info about the build</p>
    </div>

    <div class="tab-pane gems-pane">
      <p class="faded">Required uniques for the build</p>
      <p class="faded">All the skills and what they should be linked with.</p>
    </div>

    <div class="tab-pane skill-tree-pane">
      <p class="faded">Adding several skill trees to show the progress helps a lot</p>
    </div>

    <div class="tab-pane bandits-pane">
      <p class="faded">Who should I kill?</p>
    </div>
  </div>
<% end %>
