<%= render "builds/builds_sub_header" %>

<div class="build-page" data-id='<%= @build.id %>'>

  <div class="row-fluid bordered-section">
    <%= render "builds/vote", build: @build %>
    <div class="span11">
      <h1><%= @build.title %></h1>
      <p class="summary text"><%= @build.summary %></p>

      <%= link_to "Edit your build", [:edit, @build], class: "btn" if can? :update, @build %>
    </div>
  </div>

  <%= render "builds/show/description" %>

  <%= render "builds/show/gear_and_gems" %>

  <%= render "builds/show/skill_trees" %>

  <%= render "builds/show/keystones" %>

  <%= render "builds/show/bandits" %>

  <%= render "builds/show/conclusion" %>

  <%= render "disqus", identifier: @build.disqus_id %>

  <% content_for :left_sidebar do %>
  <ul class="bordered-section playstyle">
    <li class="user">
      <p>Created by<br><b><%= @build.user_login %></b></p>
    </li>
    <li>
      <h5>Classes</h5>
      <p><%= @build.played_as %></p>
    </li>
    <li>
      <h5>Life type</h5>
      <p><%= @build.life_type_label %></p>
    </li>
    <% if video = @build.video %>
    <li>
      <h5>Video</h5>
      <p><%= video %></p>
    </li>
    <% end %>

    <li>
      <h5>Leagues</h5>
      <p><%= @build.viable_leagues %></p>
    </li>
  </ul>

  <div class="facet">
    <h3>Quick nav</h3>
    <ul>
      <li><a href="#description">Description</a></li>
      <li><a href="#gear">Gear</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#uniques">Uniques</a></li>
      <li><a href="#skill-tree">Skill trees</a></li>
      <li><a href="#keystones">Keystones</a></li>
      <li><a href="#bandits">Bandits</a></li>
      <li><a href="#conclusion">Conclusion</a></li>
    </ul>
  </div>
  <% end %>

</div>

<% content_for :dom_ready do %>
  App.BuildPage.setup()
  App.Vote.setup()
<% end %>
