<%= simple_form_for @player do |f| %>
  <div class="bordered-section">
  <%= f.input :character, label: "Character name (IGN)" %>
  <%= f.input :league_id, label: "League",
          collection: League.running,
          selected: @player.league_id || current_league_id %>
  <%= f.input :online,
    label: "Mark online <i class='fa fa-circle online-icon online'></i>".html_safe %>
  </div>
  <%= f.button :submit, @player.new_record? ? "Create character" : "Update character", class: "btn btn-success" %>
<% end %>
