<div class="slim-row row-fluid result bordered">

  <span class="span3 online-status">
    <%= link_to account_path(player.account),
                class: "account",
                data: { account: player.account } do %>
      <i class="fa fa-circle online-icon <%= player.online? ? "online" : "offline" %>"></i>
      <span><%= player.account %></span>
      <% end %>
  </span>

  <span class="span3" data-character="<%= player.character %>">
    <%= player.character %>
  </span>

  <span class="span2">
    <%= player.league.name %>
  </span>

  <span class="span4">
    <%= link_to "Mark online", mark_online_player_path(player), data: {
          method: :put
    } %>
    &bull;
    <% if can? :edit, player %>
      <%= link_to "Edit", edit_player_path(player) %>
      /
      <%= link_to "Destroy", player_path(player), method: :delete %>
      <% if !player.online? %>
      <% end %>
    <% end %>
  </span>
</div>
