<%= simple_form_for @search, url: polymorphic_path(@search, first: true), html: { id: "search-form" } do |f| %>
  <% @form.form = f %>

  <%= render @form %>

  <div id="stats" class="row-fluid">
    <% if @form.similar? %>
      <%= f.fields_for :stats do |s| %>
        <%= render @form.stats_partial_path, f: s %>
      <% end %>
    <% else %>
      <p class="box box-content"><i class="fa fa-refresh fa-spin"></i> Loading mods...</p>
    <% end %>
  </div>

  <div class="row-fluid control-group">
    <div class="span12">
      <div class="mod-sep span10">
        <%= @form.online(width: 2) %>
        <%= @form.has_price(width: 3) %>
        <%= @form.only_corrupted(width: 3) %>
      </div>

      <span class="span2">
        <% if @form.similar? %>
          <%= link_to_add_association "<i class='fa fa-plus fa fa-white'></i> Add mod".html_safe, f, :stats,
            data: {
              association_insertion_node: "#stats",
              association_insertion_method: "append"
            },
            partial: @form.stats_partial_path,
            class: "btn right btn-info span12"
          %>
        <% else %>
          <%= link_to "#", class: "btn btn-info span12", id: "add-mod" do %>
            <i class='fa fa-plus fa fa-white'></i> Add mod
          <% end %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="row-fluid control-group last">
    <div class="span12">
      <%= @form.submit(width: 2) %>
      <%= @form.order(width: 3) %>
    </div>
  </div>

  <%= f.input :order_by_mod_id, as: :hidden, input_html: { id: "order-by-mod-id" } %>

  <%= hidden_field_tag :page, nil, id: "search-page" %>
<% end %>

<% content_for :dom_ready do %>
  <% if !@form.similar? %>

    <% if Rails.env.development? %>
      // App.Item.cacheTemplates();
    <% end %>

    Handlebars.templates.stat = Handlebars.compile($("#stat-template").html())

    App.AjaxForm.setup('<%= @search.model_name %>');

    $("#search-form").trigger({
      type: "submit",
      page: '<%= params[:page].to_i %>'
    });
  <% end %>

  App.SearchForm.setup();
  App.InputHighlighter.setup();
  App.ModToggle.setup();
  App.ModSorter.setup();
<% end %>
