<%= page_title("#{@search.archetype_name} Search") %>

<%= render "searches/search_sub_header" %>

<%= render "searches/form" %>

<%#= render "searches/results_and_facets" %>

<div id="results" class="<%= @layout.to_class %>" data-size="<%= @layout.size %>">
</div>

<script id="result-template" type="text/x-handlebars-template">
  <%= render "searches/handlebars/result" %>
</script>

<script id="facet-template" type="text/x-handlebars-template">
  <%= render "searches/handlebars/facet" %>
</script>

<script id="no-results-template" type="text/x-handlebars-template">
  <%= render "searches/handlebars/no_results" %>
</script>

<script id="requirements-template" type="text/x-handlebars-template">
  <%= render "searches/handlebars/requirements" %>
</script>

<script id="account-template" type="text/x-handlebars-template">
  <%= render "searches/handlebars/account" %>
</script>

<% content_for :dom_ready do %>
  App.OnlineStatus.setup("#results")

  App.NumberFormatter.setup();
  App.Tabs.setup(".search-tabs");
<% end %>
