<%= page_title("#{@search.archetype_name} Search") %>

<%= render "searches/search_sub_header" %>

<%= render "searches/form" %>

<%#= render "searches/results_and_facets" %>

<div id="results">
  <div class="no-results">
    <p class="text-center"><i class="fa fa-refresh fire fa-spin fa-3x"></i></p>
  </div>
</div>

<script id="stat-template" type="text/x-handlebars-template">
  <%= render "searches/handlebars/stat" %>
</script>

<% if Rails.env.development? %>

<script id="result-template" type="text/x-handlebars-template">
  <%= render "searches/handlebars/result" %>
</script>

<script id="facet-template" type="text/x-handlebars-template">
  <%= render "searches/handlebars/facet" %>
</script>

<script id="no-results-template" type="text/x-handlebars-template">
  <%= render "searches/handlebars/no_results" %>
</script>

<script id="account-template" type="text/x-handlebars-template">
  <%= render "searches/handlebars/account" %>
</script>

<script id="pagination-template" type="text/x-handlebars-template">
  <%= render "searches/handlebars/pagination" %>
</script>
<% end %>

<% content_for :dom_ready do %>
  App.OnlineStatus.setup("#results");

  App.NumberFormatter.onCountChange();
  App.Tabs.setup(".search-tabs");
  App.Layout.setup();
<% end %>
