<%
  tab_name ||= type.capitalize.pluralize
  current = form && form.send(:"#{type}?")
%>

<li class="tab-search-<%= type %>s">
  <%= link_to [:new, :"#{type}_search"] do %>
    <% if current %>
      <i class="fa <%= icon %>"></i>
    <% end %>

    <%= tab_name.html_safe %>

    <% if current %>
      <span class="tag">
        <span><%= total_count %></span>
      </span>
    <% end %>
  <% end %>
</li>
