<div class="controls-row control-group clearfix">

  <%= render "items/fields/common" %>

  <div class="search-tabs" id="misc-tabs">
    <%= render "searches/form_tabs", search: @form %>

    <div id="offense-fields" class="tabcontent">
      <div class="controls-row clearfix">
        <%= @form.item_elemental_damage(width: 3) %>
      </div>
    </div>

    <%= render "items/fields/requirements" %>

    <%= render "items/fields/price" %>
  </div>

</div>
