<%= render "searches/search_sub_header" %>

<div class="item-container section <%= @layout.to_class %>" id="item">
  <%= render "searches/result", result: @item %>
</div>

<% if can? :destroy, @item %>
  <%= link_to "Destroy", item_path(@item), method: :delete %>
<% end %>

<%= render "items/similar_items" %>

<% content_for :head do %>
  <style type="text/css">
    .item-container .result { border-bottom: 0; }
    .item-container {
      background: #f2f2f2;
      padding: 0 10px;
      border: 1px solid #ccc;
    }
  </style>
<% end %>

<% content_for :dom_ready do %>
  App.ItemRenderer.setup(".item-container .item");
  App.ModHighlighter.highlightAll(".item-container .item", "#results .item");
  App.SocketRenderer.render($("#left-sidebar"));
  App.ItemVerification.setup({ root: ".item-container" });
  App.SimilarMods.setup();
  App.PM.setup(".item-container");
<% end %>
