<div class="controls-row">
  <%= @form.item_type(width: 3) %>
  <%= @form.item_league(width: 3) %>
  <%= @form.item_name(width: 3) %>
  <div class="span3">
    <%= @form.account(width: 6) %>
    <%= @form.thread_id(width: 6) %>
  </div>
</div>

<div class="controls-row">
  <%= @form.item_base_name(width: 3) %>
  <%= @form.item_rarity(width: 3) %>
  <%= @form.item_quality(width: 3) %>
</div>
