<%
  facets = @results.facets
%>

<% content_for :left_sidebar do %>
<div class="facet">
  <h3>Classes</h3>

  <ul>
    <% facets["klasses"]["terms"].each do |term| %>
    <li>
      <%= link_to params.merge(class: term["term"]) do %>
        <span class="right small tag"><%= term["count"] %></span>
        <%= term["term"].capitalize %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>

<div class="facet">
  <h3>Gems</h3>

  <ul>
    <% facets["gems"]["terms"].each do |term| %>
    <li>
      <%= link_to params.merge(gem: term["term"]) do %>
        <span class="right small tag"><%= term["count"] %></span>
        <%= term["term"].capitalize %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>

<div class="facet">
  <h3>Uniques</h3>

  <ul>
    <% facets["uniques"]["terms"].each do |term| %>
    <li>
      <%= link_to params.merge(unique: term["term"]) do %>
        <span class="right small tag"><%= term["count"] %></span>
        <%= term["term"].capitalize %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>

<div class="facet">
  <h3>Keystones</h3>

  <ul>
    <% facets["keystones"]["terms"].each do |term| %>
    <li>
      <%= link_to params.merge(keystone: term["term"]) do %>
        <span class="right small tag"><%= term["count"] %></span>
        <%= term["term"].capitalize %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>

<% end %>
