<%= simple_form_for @search, html: { id: "build-search-form" } do |s| %>

  <% form = BuildSearchFormDecorator.new(s) %>

  <div class="row-fluid controls-row">
    <%= form.keywords %>
    <%= form.life_type %>
    <div class="span4">
      <%= form.leagues %>
    </div>
  </div>

  <div class="row-fluid controls-row">
    <%= form.klasses %>
    <%= form.skill_gems %>
    <%= form.uniques %>
  </div>

  <div class="row-fluid controls-row">
    <%= form.keystones %>
    <%= form.order %>
  </div>

  <%= form.user %>

  <%= s.button :submit, "Search builds", class: "btn btn-success" %>

<% end %>

<% content_for :dom_ready do %>
  $("select").select2();
<% end %>
