<title><%= content_for?(:title) ? content_for(:title) : "PoExplorer.com" %></title>
<%= render "layouts/layout/meta" %>
<%= render "layouts/stylesheets" %>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<%#= render "layouts/layout/open_search" %>
<%= render "layouts/common/ga" %>
<%= csrf_meta_tags %>
