<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<body <%= body_layout %>>
  <%= render "layouts/flash", flash: flash %>

  <%= render "layouts/material/header" %>

  <div class="" data-region="main">

  </div>

  <%#= render "layouts/layout/footer" %>
  <%= render "layouts/common/bottom" %>
</body>
</html>
