<!DOCTYPE html>
<html>
<head>
  <% stylesheet "authentication" %>
  <%= render "layouts/head" %>
</head>
<body class="exiles <%= body_classes %>">
  <%= render "layouts/layout/header/header" %>
  <%= render "sub_header" %>
  <%= render "layouts/flash", flash: flash %>

  <%= yield :cover %>

  <div id="content" class="wrapper-l">
    <div class="row-fluid">
      <%= yield %>
    </div>

  </div>

  <%= render "layouts/layout/footer" %>
  <%= render "layouts/common/bottom" %>
</body>
</html>
