<!DOCTYPE html>
<html>
<head>
  <% stylesheet "exiles" %>
  <%= render "layouts/head" %>
</head>
<body <%= body_layout('exiles') %>>
  <%= render "layouts/layout/header/header" %>
  <%= render "exiles/sub_header" unless current_page?(action: "show", controller: "exiles") %>
  <%= render "application/sub_header" %>
  <%= render "layouts/flash", flash: flash %>

  <%= yield :cover %>

  <div id="content" class="wrapper-l">
    <div class="row-fluid">
      <%= yield %>
    </div>

  </div>

  <% javascript "exiles" %>
  <%= render "layouts/layout/footer" %>
  <%= render "layouts/common/bottom" %>
</body>
</html>
