<% content_for :h1 do %>
  <%= link_to "Community", users_path %>
<% end %>

<% content_for :main_menu do %>
  <%= render "users/main_menu" %>
<% end %>

<% content_for :left_sidebar do %>
  <%= render "sidebar_show", results: @results %>
<% end %>

<h1><%= link_to @account.name, account_path(@account) %></h1>

<% if @results.any? %>

  <% pagination = paginate(@results) %>
  <%= render "application/pagination", pagination: pagination %>

  <%= render "searches/results", results: @results %>

  <%= render "application/pagination", pagination: pagination %>

<% else %>
  <div class="no-results">
    <h2>No items indexed for this account!</h2>
  </div>
<% end %>
